#register_login.page_content_space.clear-fix
  .title_page Log in
  .login_box
    .title_login.login_left_space Already Registered? Log In
    = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      .form-inputs
        = f.input :email, :required => false, :autofocus => true
        = f.input :password, :required => false
        .foget_pass
          = link_to "Forgot your password?", new_password_path(resource_name)
        .remember_box.clear-fix
          = f.input :remember_me, :as => :boolean if devise_mapping.rememberable?
      .form-actions
        = f.button :submit, "Sign in" , :class => "mybtn btn-pink btn_login uppercase"

  .register_box
    .title_login New to Little Spark? Welcome!
    = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      = f.error_notification
      .form-inputs
        = f.input :email, :autofocus => true
        .conform
          %label Email conformation
          %input{:type => 'text' , :id => 'email_conform'}
        = f.input :password
        = f.input :password_confirmation
      .form-actions
        = f.button :submit, "Join the family" , :class => "mybtn btn-pink btn_register uppercase"


/ %h2
/   Edit #{resource_name.to_s.humanize}
/ = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
/   = f.error_notification
/   .form-inputs
/     = f.input :email, :required => true, :autofocus => true
/     = f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false
/     = f.input :password_confirmation, :required => false
/     = f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true
/   .form-actions
/     = f.button :submit, "Update"
/ %h3 Cancel my account
/ %p
/   Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete}.
/ = link_to "Back", :back