%div{:style => "padding-top:10px; font-weight:bolder;"}
  = "Hello, #{@gift.sender_email}!"
%div{:style => "padding-top:10px; color:#000;"}
  %p
    = "Thank you for your gift order from Little Spark. You can now share the gift code below to the lucky recipient for redemption. Please contact us  with any questions at"
    = link_to "contactus@littlespark.com", "mailto:contactus@littlespark.com", :style => "margin-right: -5px;"
    ="."
%div{:style => "clear:both; padding:10px 0px; color:#000;"}
  %p= "Your Order #{@trans_id} (placed on #{@gift.transaction_date.strftime('%m/%d/%Y %l:%M %p')})"
  %p= "Gift Code #{@gift.gift_code} "

%table
  %tr
    %td{:style => 'width:400px; vertical-align:top;'}
      %p Billing Information:
      %p= @billing_address.fullname
      %p= @billing_address.address_1
      - if @billing_address.address_2.present?
        %p= @billing_address.address_2
      %p= "#{@billing_address.city}, #{@billing_address.state} #{@billing_address.zip}"
    %td{:style => 'width:400px; vertical-align:top;'}
      %p Shipping Information:
      %p N/A

%div{:style => "clear:both; padding:10px 0px; color:#000;"}
  %p Payment Method: Credit Card
  %p= "Credit Card Type: #{Payment::CARD_NAME[@params['card_type'].to_i]}"
  %p= "Credit Card Number: xxxx-#{@params[:card_number].slice(/\d{4}$/)}"

%table
  %tr
    %td{:style => 'width:400px; vertical-align:top;'}
      %p.item Item:
      %p.month= "#{Order::TYPE_NAME[@gift.plan_type]} Gift"
      %p{:style => "text-align:right; padding-right:20px;"} Sub-total
      %p{:style => "text-align:right; padding-right:20px;"} Tax:
      %p{:style => "text-align:right; padding-right:20px;"} Shipping:
      %p{:style => "text-align:right; padding-right:20px;"} Total:
    %td{:style => 'width:400px; vertical-align:top;'}
      %p.item Amount
      %p.month= number_to_currency @gift.price
      %p= number_to_currency @gift.price
      %p= number_to_currency @gift.get_tax
      %p FREE
      %p= number_to_currency @gift.total_price
