!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %div{:style => "margin-left:50px; width:800px; color:#000;"}
      .mail_logo= image_tag(@image_link)
      %div{:style => "margin-top:40px; font-weight:bolder;"}
        = 'Hello,'
        =  @user_email
        = "!"
      %div{:style => "margin-top:40px; color:#000;"}
        %p Thank you for your order from Little Spark. You can check the status of your order by
        %p
          = 'logging into'
          = link_to " your account", @url
          = '. Please ask us any questions by contact us at atyourservice@littlespark.com.'
      %div{:style => "clear:both; margin:40px 0px; color:#000;"}
        = "Your order #{@trans_id} (placed on #{@order.transaction_date.strftime('%m/%d/%Y %l:%M %p')})"
      %div{:style => "height:85px; color:#000;"}
        %div{:style => "float:left; width:50% ;"}
          %p Billing Information:
          %p= @billing_address.fullname
          %p= @billing_address.address_1
          %p= "#{@billing_address.city}, #{@billing_address.state} #{@billing_address.zip}"
        %div{:style => "float:left; width:50% ;"}
          %p Shipping Information:
          %p= @shipping_address.fullname
          %p= @shipping_address.address_1
          %p= "#{@shipping_address.city}, #{@shipping_address.state} #{@shipping_address.zip}"
      %div{:style => "clear:both; margin:40px 0px; color:#000;"}
        %p Payment Method: Credit Card
        %p= "Credit Card Type: #{Payment::CARD_NAME[@params['card_type'].to_i]}"
        %p= "Credit Card Number: xxxx-#{@params[:card_number].slice(/\d{4}$/)}"
      %p Children:
      %P= @order.baby.fullname
      %div{:style => "height:150px; margin-top:40px; color:#000;"}
        %div{:style => "float:left; width:50% ;"}
          %o.item Item:
          %p.month Monthly Subscription
          %p{:style => "text-align:right; margin-right:20px;"} Sub-total
          %p{:style => "text-align:right; margin-right:20px;"} Tax:
          %p{:style => "text-align:right; margin-right:20px;"} Shipping:
          %p{:style => "text-align:right; margin-right:20px;"} Total:
        %div{:style => "float:left; width:50% ;"}
          %o.item Amount
          %p.month= number_to_currency @order.price
          %p= number_to_currency @order.price
          %p= number_to_currency @order.get_tax
          %p FREE
          %p= number_to_currency @order.total_order
