!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %div{:style => "margin-left:50px; width:800px; color:#000;"}
      .mail_logo= image_tag(@image_link)
      %div{:style => "margin-top:30px; font-weight:bolder; color:#000;"}
        = 'Hello,'
        =  @admin_email
        = "!"
      %div{:style => "margin-top:40px; color:#000;"}
        %p
          = 'You got a new redeem by '
          = @redeem.recipient_email
      %div{:style => "clear:both; margin:40px 0px; color:#000;"}
        %p Detail:
        %p= "Your Order #{@redeem.transaction_code} (Redeemed on #{@redeem.redeem_date.strftime('%m/%d/%Y %l:%M %p')})"

        %p= "Gift Code #{@redeem.gift_code} "

      %div{:style => "height:85px; color:#000;"}
        %div{:style => "float:left; width:50% ;"}
          %p Billing Information:
          %p= @billing_address.fullname
          %p= @billing_address.address_1
          %p= "#{@billing_address.city}, #{@billing_address.state} #{@billing_address.zip}"
        %div{:style => "float:left; width:50% ;"}
          %p Shipping Information:
          %p= @shipping_address.fullname
          %p= @shipping_address.address_1
          %p= "#{@shipping_address.city}, #{@shipping_address.state} #{@shipping_address.zip}"
      %div{:style => "height:150px; margin-top:40px; color:#000;"}
        %div{:style => "float:left; width:50% ;"}
          %o.item Item:
          %p.month= "#{Order::TYPE_NAME[@redeem.plan_type]} Gift"
          %p{:style => "text-align:right; margin-right:20px;"} Sub-total
          %p{:style => "text-align:right; margin-right:20px;"} Tax:
          %p{:style => "text-align:right; margin-right:20px;"} Shipping:
          %p{:style => "text-align:right; margin-right:20px;"} Total:
        %div{:style => "float:left; width:50% ;"}
          %o.item Amount
          %p.month= number_to_currency @redeem.price
          %p= number_to_currency @redeem.price
          %p= number_to_currency @redeem.get_tax
          %p FREE
          %p= number_to_currency @redeem.total_price
