.mail_content{:style => "margin:20px;"}
  %p{:style => "font-weight:bolder;"}
    = "Hello, #{@email}!"
  %p Thank you for joining Little Spark!
  %p
    %span= "Little Spark was created to celebrate and enrich you and your baby’s playtime while bringing you the latest in early childhood development research in an easy-to-understand way. At"
    / = link_to "Little Spark", @url
    = link_to "Little Spark", root_url,:style => "margin-right: -5px !important; padding-right:0px;", :target => "_blank"
    %span= ", we believe that learning, discovery - and playtime begin at birth!"
  %p
    Enjoy Your Little Spark!
    %br/
    Susan and Vivian
    %br/
    Co-Founders
  %p
    p.s. Connect with us on
    = link_to "Facebook" , "http://www.facebook.com/littlesparkinc",:style => "margin-right: -5px !important;padding-right:0px;", :target => "_blank"
    = ","
    = link_to "Twitter" , "https://twitter.com/LittleSpark", :style => "margin-right: -5px !important; padding-right:0px;", :target => "_blank"
    = ", and"
    = link_to "Pinterest" , "http://pinterest.com/littlesparkinc/", :style => "margin-right: -5px !important; padding-right:0px;", :target => "_blank"
    = "!"




