.mail_content{:style => "margin:20px;"}
  %p{:style => "font-weight:bolder;"}
    = "Hello, "
    = @email
    = "!"
  %p Thank you for joining Little Spark!
  %p
    Please, follow this:
    = link_to "littlespark.com", @url
    = "."

  %p
    Have Fun!
    %br/
    The Little Spark Team.

