%table{:border => "1"}
  %tr{:style => 'font-weight: bold;'}
    %th.text.bold.font26 No
    %th First name
    %th Last name
    %th Email
    %th Date enrolled
    %th Child
    %th Birthday
    %th Plan
    %th Billing
    %th Shipping
    %th Status
    %th Order #
  - @orders.each_with_index do |order,index|
    %tr
      %td= index + 1
      %td
        - if order.shipping_address
          = order.shipping_address.first_name
      %td
        - if order.shipping_address
          = order.shipping_address.last_name
      %td
        = order.purchaser.email if order.purchaser
      %td
        = order.created_at.strftime("%m/%d/%Y")
      %td
        = order.baby.fullname if order.baby
      %td
        = order.baby.birthday.strftime("%m/%d/%Y") if order.baby
      %td
        = Order::TYPE_NAME[order.plan_type]
      %td
        - if order.billing_address
          = order.billing_address.address_full
          - if order.billing_address.address_2
            %br
            = order.billing_address.address2_full
      %td
        - if order.shipping_address
          = order.shipping_address.address_full
          - if order.shipping_address.address_2
            %br
            = order.shipping_address.address2_full
      %td
        - if order.is_active_subscription
          On going
        - else
          Canceled
      %td= order.order_code
