%table{:border => "1"}
  %tr{:style => 'font-weight: bold;'}
    %th.text.bold.font26 No
    %th First name
    %th Last name
    %th Email Giver
    %th Date
    %th Email Recipient
    %th Plan
    %th Billing
    %th Status
    %th Order #
  - @gifts.each_with_index do |gift, index|
    %tr
      %td= index + 1
      %td
        - if gift.billing_address
          = gift.billing_address.first_name
      %td
        - if gift.billing_address
          = gift.billing_address.last_name
      %td= gift.sender_email
      %td= gift.created_at.strftime("%m/%d/%Y")
      %td= gift.recipient_email
      %td= Order::TYPE_NAME[gift.plan_type]
      %td
        - if gift.billing_address
          = gift.billing_address.address_full
          - if gift.billing_address.address_2
            %br
            = gift.billing_address.address2_full
      %td
        - if gift.redeem_status.to_i == Redeem::STATUS[:completed].to_i
          Redeemed
        - else
          Pending
      %td= gift.order_code
