%table{:border => "1"}
  %tr{:style => 'font-weight: bold;'}
    %th.text.bold.font26 No
    %th Email Recipient
    %th Redeem Date
    %th Child
    %th Plan
    %th Billing
    %th Shipping
    %th Status
    %th Order #
  - @redeems.each_with_index do |redeem, index|
    %tr
      %td= index + 1
      %td= redeem.recipient_email
      %td
        = redeem.redeem_date.strftime("%m/%d/%Y") if redeem.redeem_date
      %td
        = redeem.baby.fullname if redeem.baby
      %td= Order::TYPE_NAME[redeem.plan_type]
      %td= redeem.billing_address.address_full if redeem.billing_address
      %td= redeem.shipping_address.address_full if redeem.shipping_address
      %td
        - if redeem.redeem_status.to_i == Redeem::STATUS[:completed].to_i
          Redeemed
        - else
          Pending
      %td= redeem.order_code
