.page-title.uppercase= I18n.t("content.page.account_child_plan.title")
.dotted-line
#main-content
  #list-children.section.clearfix
    .info-line.header.clearfix
      .name.uppercase.pull-left= I18n.t('content.page.account_sum.name')
      .birthday.uppercase.pull-left= I18n.t('content.page.account_sum.birthday')
      .plan.uppercase.pull-left= I18n.t('content.page.account_sum.plan')
    .dotted-line
    .content
      - @babies.each do |b|
        .info-line.clearfix{:id => "plan-#{b.plan_id}"}
          .name.text.line22.font16.pull-left= b.fullname
          .birthday.text.line22.font16.pull-left= b.birthday.strftime('%m/%d/%Y')
          .plan.text.line22.font16.pull-left
            .pull-left= plan_detail(b.plan_type, b.price)
            %a.underline-link.pull-right{:href => edit_child_n_plan_users_path(:plan_id => b.plan_id) }= I18n.t('label.edit')
  #action
    %span.text.font16.bold= I18n.t('content.page.account_child_plan.add_another')
    %a.underline-link{:href => step_1_enrolments_path }= I18n.t('content.page.account_child_plan.sign_up')


