.contact_information
  .change_password
    .tittle_box
      .tittle_content.uppercase= I18n.t('content.page.account_contact.change_pass')
    .line
    = simple_form_for @user, :as => :user, :url => update_acount_password_users_path, :html => {:class => 'user-contact-form clearfix' }, :validate => :user_validator do |f|
      .form-inputs
        / = f.password_field :current_password
        = f.input :current_password, :required => true,:label => "Old Password", :wrapper_html => {:class => 'current_passwork_field'}
        = link_to I18n.t('content.page.login.forgot_current_pass'), new_password_path(resource_name), :class => 'underline-link forgot_pass_link'
        = f.input :password,:required => true, :input_html => {:id => "new_password"}, :wrapper_html => {:class => 'new_password_field'},:label => "New Password"
        = f.input :password_confirmation,:required => true, :input_html => {:id => "cf_new_password"}, :wrapper_html => {:class => 'cf_new_password_field'},:label => 'Comfirm new Password'
      .action-form
      = f.button :submit, I18n.t('content.page.account_contact.change_pass') , :class => "mybtn btn-pink uppercase btn_change_password"

= content_for :js do
  = yield :user_validator
  = javascript_include_tag 'users.js'
