.page-title.uppercase= I18n.t('content.page.account_sum.step')
.dotted-line
#main-content
  .clearfix
    #personal-info.section.pull-left
      .title.pull-left= I18n.t('content.page.account_sum.personal_title')
      %a.underline-link.pull-right{:href => contact_users_path}= I18n.t('label.edit')
      .clearfix
      .dotted-line
      - if @user.fullname
        .text.line22.font16= @user.fullname
      .text.line22.font16= @user.email
      .text.line22.font16= '*'*11
    / #payment-info.section.pull-right
    /   .title.pull-left= I18n.t('content.page.account_sum.payment_title')
    /   %a.underline-link.pull-right{:href => '#'}= I18n.t('label.edit')
    /   .clearfix
    /   .dotted-line
    /   - if @billing_address
    /     .text.line22.font16= @billing_address.fullname
    /     .text.line22.font16= @billing_address.address_1
    /     .text.line22.font16= @billing_address.city_state
    /     .text.line22.font16= 'xxxx-xxxx-xxxx-1234'
  #child-n-plan.section.clearfix
    .title.pull-left= I18n.t('content.page.account_sum.child_n_plan_title')
    %a.underline-link.pull-right{:href => child_n_plan_users_path }= I18n.t('label.edit')
    .clearfix
    .dotted-line
    .info-line.header
      .name.uppercase.pull-left= I18n.t('content.page.account_sum.name')
      .birthday.uppercase.pull-left= I18n.t('content.page.account_sum.birthday')
      .plan.uppercase.pull-left= I18n.t('content.page.account_sum.plan')
    .clearfix
    .dotted-line
    .content
      - @plans.each do |pl|
        .info-line.clearfix
          .name.text.line22.font16.pull-left= pl.baby.fullname
          .birthday.text.line22.font16.pull-left= pl.baby.birthday.strftime('%m/%d/%Y')
          .plan.text.line22.font16.pull-left= plan_detail(pl.plan_type, pl.price)
