#change_pass.page_content_space.clear-fix
  .title_account.uppercase Reset password
  .change_box
    = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
      = f.error_notification
      = f.input :reset_password_token, :as => :hidden
      = f.full_error :reset_password_token
      .form-inputs
        = f.input :password, :required => true, :label => "New password",:label_html => {:class => "big_label2"}
        = f.input :password_confirmation, :required => true, :label => "Confirm your new password" ,:label_html => {:class => "big_label2"}
      .form-actions
        = f.button :submit, "Reset password" , :class => "mybtn btn-pink btn_change_pass uppercase"
