.footer_menu_box
  %ul.footer_menu
    %li#redeem
      = link_to I18n.t('content.footer.redeem') , "#"
    %li#faq{:class => (current_page?(fqa_homes_path)  ? "selected" : "")}
      = link_to I18n.t('content.footer.faq') , fqa_homes_path
    %li#refer
      = link_to I18n.t('content.footer.refer') , "#"
    %li#terms
      = link_to I18n.t('content.footer.term') , term_homes_path
    %li#privacy
      = link_to I18n.t('content.footer.privacy') , "#"
    %li#contact{:class => (current_page?(contact_us_homes_path)  ? "selected" : "")}
      = link_to I18n.t('content.footer.contact') , contact_us_homes_path
    %li#about{:class => (current_page?(about_us_homes_path)  ? "selected" : "")}
      = link_to I18n.t('content.footer.about') , about_us_homes_path
.footer_line
.footer_text.text.italic= I18n.t('content.footer.copyright')
