.footer_menu_box
  %ul.footer_menu
    %li
      = link_to "Redeem a gift" , "#"
    %li
      = link_to "FAQs" , home_fqa_path
    %li
      = link_to "Refer a Friend" , "#"
    %li
      = link_to "Terms" , "#"
    %li
      = link_to "Privacy" , "#"
    %li
      = link_to "Contact Us" , home_contact_us_path
    %li
      = link_to "About Us" , "#"
.footer_line
.footer_text 2012 Little Spark Inc. All Rights Reserved.