.footer_menu_box
  %ul.footer_menu
    %li
      = link_to I18n.t('content.footer.redeem') , "#"
    %li
      = link_to I18n.t('content.footer.faq') , home_fqa_path
    %li
      = link_to I18n.t('content.footer.refer') , "#"
    %li
      = link_to I18n.t('content.footer.term') , "#"
    %li
      = link_to I18n.t('content.footer.privacy') , "#"
    %li
      = link_to I18n.t('content.footer.contact') , home_contact_us_path
    %li
      = link_to I18n.t('content.footer.about') , home_about_us_path
.footer_line
.footer_text= I18n.t('content.footer.copyright')
