%ul.fqa_menu_link
  %li
    = link_to I18n.t('content.page.fqa.about'), "#"
  %li
    = link_to I18n.t('content.page.fqa.sign_up') , "#"
  %li
    = link_to I18n.t('content.page.fqa.ship') , "#"
  %li
    = link_to I18n.t('content.page.fqa.gift') , "#"
  %li
    = link_to I18n.t('content.page.fqa.other') , "#"
