%ul.fqa_menu_link
  %li
    = link_to I18n.t('content.page.fqa.about'), "#" , :class => "underline-link"
  %li
    = link_to I18n.t('content.page.fqa.sign_up') , "#" , :class => "underline-link"
  %li
    = link_to I18n.t('content.page.fqa.ship') , "#" , :class => "underline-link"
  %li
    = link_to I18n.t('content.page.fqa.gift') , step_1_gifts_path, :class => "underline-link"
  %li
    = link_to I18n.t('content.page.fqa.other') , "#" , :class => "underline-link"
