#head_top
  - if user_signed_in?
    #drd-top-actions.dropdown
      %a#dLabel.dropdown-toggle{'data-hover'=>"dropdown", "data-target" => "#", "data-toggle" => "dropdown", :href => "#", :role => "button"}
        - if current_user.fullname
          = current_user.fullname
        - else
          = current_user.email
        %b.caret
      %ul.dropdown-menu{"aria-labelledby" => "dLabel", :role => "menu"}
        %li
          %a{:href => my_account_path, :class => "my_acc"}= I18n.t('label.account')
        %li
          = link_to I18n.t('label.logout'), destroy_user_session_path, :method => :delete , :class => "btn_top_logout"
  - else
    #drd-top-actions
      = link_to "Log in" , new_user_session_path , :class => "btn_login"
      / = link_to "Log in" , new_user_session_path , :class => "btn_top_login"
  %p.text_free_shipping
    = image_tag("common/text_free_shipping.png")
#head_nav.clear-fix
  .logo_box
    = link_to image_tag("common/logo_text_beta01.jpg") , homes_path
    / = link_to image_tag("common/logo_text.png") , homes_path
  .top_menu_box
    = render "shared/top_menu"
