#head_top
  / = link_to image_tag("common/btn_login.png") , "#" , :class => "btn_top_login"
  - if user_signed_in?
    = link_to "Log out" , destroy_user_session_path, :method => :delete , :class => "btn_top_login"
  - else
    = link_to "Log in" , new_user_session_path , :class => "btn_top_login"
  %p.text_free_shipping
    = image_tag("common/text_free_shipping.png")
#head_nav.clear-fix
  .logo_box
    = link_to image_tag("common/logo_text_beta.jpg") , homes_path
    / = link_to image_tag("common/logo_text.png") , homes_path
  .top_menu_box
    = render "shared/top_menu"
