/locals: form_builder, price, tax, total
.title_box
  .left_box Order Summary
  .right_box
    - unless (params[:controller] == 'gifts' and params[:action] == 'step_4')
      .text.font16= link_to 'edit' , enroll_path(:step_2) ,:class => 'underline-link'
.order_info_box
  .info_box.pull-left
    .info_field
      %p.info_text.text.bold Monthly Subscription
      %p.number= number_to_currency price
    .info_field
      %p.info_text.text.bold Shipping
      %p.number FREE
    .line_sum
    .info_field
      %p.info_text
        %span.text.bold Tax
        %span (CA residents only)
      %p.number= number_to_currency tax
    .line_total
    .info_field
      %p.info_text.text.bold.pink ORDER TOTAL
      %p.text.number.bold.pink= number_to_currency total
  .img_box.pull-right= image_tag('sample/gitf_dog.jpg')
.signup_box.clearfix
  %input.pull-left{:type => 'checkbox' , :name => 'check_box_signup', :id => 'cb_signup'}
  %label.pull-left{:for => 'cb_signup'} Sign-up for updates from your friends at Little Spark!

  %input.pull-left{:type => 'checkbox' , :name => 'terms_agreement', :id => 'cb_terms'}
  %label.pull-left{:for => 'cb_terms'}= "I agree with the <a href='#' id='terms_content' rel='popover'>Terms and Conditions</a>".html_safe
