.people_say.clear-fix
  .people_say_line
  .people_say_text= I18n.t('content.page.home.people_say_sum')
  .people_box.clear-fix
    / left
    .people_info
      = image_tag("common/p11.gif" , :class => "img_info")
      .people_desc
        = image_tag("common/comman_left.png" , :class => "img_comman_lef")
        %p.desc We LOVE this service! This is my new little secret to share with all the moms out there! We look forward to each month's delivery.
        = image_tag("common/comman_right.png" , :class => "img_comman_right")
        %p.last_desc - Kahi from Los Angeles, CA
    / right
    .people_info
      = image_tag("common/p21.gif" , :class => "img_info")
      .people_desc
        = image_tag("common/comman_left.png" , :class => "img_comman_lef")
        %p.desc Little Spark is exactly what we needed! They select the right products at the right time and I feel assured that it's the appropriate developmental toy & book for my little one!
        = image_tag("common/comman_right.png" , :class => "img_comman_right")
        %p.last_desc - Ali from New York City, NY
    %p.see_more_link
      = link_to I18n.t('content.page.home.people_say_more'), fan_page_homes_path
