%ul.top_menu
  %li{:class => (current_page?(home_how_it_work_path)  ? "selected" : "")}
    = link_to "How It Works" , home_how_it_work_path
  %li
    = link_to "Kits" , "#"
  %li
    = link_to "Enroll" , "#"
  %li
    = link_to "Gifts" , "#"
  %li
    = link_to "Blog" , "#"