%ul.top_menu
  %li#howitworks{:class => (current_page?(home_how_it_work_path)  ? "selected" : "")}
    = link_to I18n.t('content.top_menu.how') , home_how_it_work_path
  %li#kits{:class => (current_page?(kits_path)  ? "selected" : "")}
    = link_to I18n.t('content.top_menu.kit'), kits_path
  = customized_link_to I18n.t('content.top_menu.enroll'), step_1_enrolments_path, :active_class => 'selected', :active_at => enroll_steps_paths, :wrap_tag => ['li', :id => 'enrolls']
  %li#gifts
    = link_to I18n.t('content.top_menu.gift'), step_1_gifts_path
    / # = link_to I18n.t('content.top_menu.gift'), home_term_path
  %li#blog
    = link_to I18n.t('content.top_menu.blog'), "#"
