%ul.top_menu
  %li#howitworks{:class => (current_page?(home_how_it_work_path)  ? "selected" : "")}
    = link_to "How It Works" , home_how_it_work_path
  %li#kits
    = link_to "Kits" , "#"
  %li#enrolls
    = link_to "Enroll" , "#"
  %li#gifts
    = link_to "Gifts" , "#"
  %li#blog
    = link_to "Blog" , "#"