%ul.top_menu
  %li#howitworks{:class => (current_page?(home_how_it_work_path)  ? "selected" : "")}
    = link_to I18n.t('content.top_menu.how') , home_how_it_work_path
  %li#kits
    = link_to I18n.t('content.top_menu.kit'), "#"
  %li#enrolls
    = link_to I18n.t('content.top_menu.enroll'), "#"
  %li#gifts
    = link_to I18n.t('content.top_menu.gift'), "#"
  %li#blog
    = link_to I18n.t('content.top_menu.blog'), "#"
