.tittle_content.fqa_lef_title= I18n.t('content.page.fqa.sign_up')
.fqa_desc_right
  .text_field
    %p.tittle_p= I18n.t('content.page.fqa.sign_up_tl1')
    %p= I18n.t('content.page.fqa.sign_up_text1').html_safe
  .text_field
    %p.tittle_p= I18n.t('content.page.fqa.sign_up_tl2')
    %p= I18n.t('content.page.fqa.sign_up_text2').html_safe
  .text_field
    %p.tittle_p= I18n.t('content.page.fqa.sign_up_tl3')
    =I18n.t('content.page.fqa.sign_up_text3').html_safe
    %ul
      %li= I18n.t('content.page.fqa.sign_up_text3_1').html_safe
      %li= I18n.t('content.page.fqa.sign_up_text3_2').html_safe
      %li= I18n.t('content.page.fqa.sign_up_text3_3').html_safe
      %li= I18n.t('content.page.fqa.sign_up_text3_4').html_safe
  .text_field
    %p.tittle_p= I18n.t('content.page.fqa.sign_up_tl4')
    %p= I18n.t('content.page.fqa.sign_up_text4').html_safe
.clearboth
