.tittle_content.fqa_lef_title= I18n.t('content.page.fqa.gift')
.fqa_desc_right
  .text_field
    %p.tittle_p= I18n.t('content.page.fqa.gift_tl_1')
    %p= I18n.t('content.page.fqa.gift_text_1',:link => step_1_gifts_path).html_safe
  .text_field
    %p.tittle_p= I18n.t('content.page.fqa.gift_tl_2')
    %p= I18n.t('content.page.fqa.gift_text_2').html_safe
  .text_field
    %p.tittle_p= I18n.t('content.page.fqa.gift_tl_3')
    %p=I18n.t('content.page.fqa.gift_text_3').html_safe
.clearboth
