.tittle_content.fqa_lef_title= I18n.t('content.page.fqa.other')
.fqa_desc_right
  .text_field
    %p.tittle_p= I18n.t('content.page.fqa.other_tl_1')
    %p= I18n.t('content.page.fqa.other_text_1', :link => "#").html_safe
  .text_field
    %p.tittle_p= I18n.t('content.page.fqa.other_tl_2')
    %p= I18n.t('content.page.fqa.other_text_2', :link => "#").html_safe
  .text_field
    %p.tittle_p= I18n.t('content.page.fqa.other_tl_3')
    %p=I18n.t('content.page.fqa.other_text_3', :link => "#").html_safe
  .text_field
    %p.tittle_p= I18n.t('content.page.fqa.other_tl_4')
    %p= I18n.t('content.page.fqa.other_text_4', :link => "#").html_safe
  .text_field
    %p.tittle_p= I18n.t('content.page.fqa.other_tl_5')
    %p= I18n.t('content.page.fqa.other_text_5', :link => "#").html_safe
  .text_field
    %p.tittle_p= I18n.t('content.page.fqa.other_tl_6')
    %p=I18n.t('content.page.fqa.other_text_6', :link => "#").html_safe
  .text_field
    %p.tittle_p= I18n.t('content.page.fqa.other_tl_7')
    %p=I18n.t('content.page.fqa.other_text_7', :link => "#").html_safe
.clearboth
