.tittle_content.fqa_lef_title= I18n.t('content.page.fqa.ship')
.fqa_desc_right
  .text_field
    %p.tittle_p= I18n.t('content.page.fqa.ship_tl_1')
    %p= I18n.t('content.page.fqa.ship_text_1', :link => "#").html_safe
  .text_field
    %p.tittle_p= I18n.t('content.page.fqa.ship_tl_2')
    %p= I18n.t('content.page.fqa.ship_text_2').html_safe
  .text_field
    %p.tittle_p= I18n.t('content.page.fqa.ship_tl_3')
    %p=I18n.t('content.page.fqa.ship_text_3').html_safe

  .text_field
    %p.tittle_p= I18n.t('content.page.fqa.ship_tl_4')
    %p= I18n.t('content.page.fqa.ship_text_4', :link => "#").html_safe
  .text_field
    %p.tittle_p= I18n.t('content.page.fqa.ship_tl_5')
    %p= I18n.t('content.page.fqa.ship_text_5', :link => "#").html_safe
.clearboth
