#contactus_content.page_content_space
  .title_page= I18n.t('content.page.contact.title')
  .page_desception= I18n.t('content.page.contact.desc').html_safe
  .contact_box.clear-fix
    .contact_child_box
      .img_box
        = image_tag("common/icon_phone.png" , :class => "icon_phone")
      %p.icon_name= I18n.t('content.page.contact.by_phone')
      %p.icon_info
        %span.num (650) 735-BABY (2229)
        %span.time 7am to 7pm PST, 7 days a week
    .contact_child_box
      .img_box
        = image_tag("common/icon_email.png" , :class => "icon_email")
      %p.icon_name= I18n.t('content.page.contact.by_email')
      %p.icon_info
        =link_to "contactus@littlespark.com", "#" , :class=> "underline-link"
    .contact_child_box
      .img_box
        = image_tag("common/icon_letter.png" , :class => "icon_letter")
      %p.icon_name= I18n.t('content.page.contact.by_letter')
      %p.icon_info
        %span Little Spark Inc.
        %span 259 King Street
        %span Redwood City, CA 94062 <br> USA
    .clearboth
