#curriculum-content.page_content_space
  .text.bold.font34.capitalize= I18n.t('content.page.curriculum.intro_sum')
  .curriculum.text.font18= I18n.t('content.page.curriculum.intro_text', :link1 => '#', :link2 => '#', :link3 => '#').html_safe
  .philosophies
    .text.bold.font26.capitalize= I18n.t('content.page.curriculum.philosophies')
    .section.clearfix
      .img-holder.pull-left
      .text.green.bold.font26= I18n.t('content.page.curriculum.independent_play_sum')
      .info.text.font18= I18n.t('content.page.curriculum.independent_play_text')
    .section.clearfix
      .img-holder.pull-left
      .text.green.bold.font26= I18n.t('content.page.curriculum.baby_development_sum').html_safe
      .info.text.font18= I18n.t('content.page.curriculum.baby_development_text')
    .section.clearfix
      .img-holder.pull-left
      .text.green.bold.font26= I18n.t('content.page.curriculum.time_spent_sum')
      .info.text.font18= I18n.t('content.page.curriculum.time_spent_text')
    .section.clearfix
      .img-holder.pull-left
      .text.green.bold.font26= I18n.t('content.page.curriculum.confidence_sum')
      .info.text.font18= I18n.t('content.page.curriculum.confidence_text')
