#how_it_work_content.page_content_space
  .title_page= I18n.t('content.page.how.title')
  .step_box.clear-fix
    / step 1
    .work_box.right_space
      .img_box
        = image_tag("common/how01.png" , :class => "img_how")
      .step.bold 1
      %p.tittle_content.title_top_space Sign Up
      %p.work_desc= I18n.t('content.page.how.step1', :link1 => '#', :link2 => '#').html_safe

    / step 2
    .work_box.right_space
      .img_box
        = image_tag("common/how02.png" , :class => "img_how")
      .step.bold 2
      %p.tittle_content.title_top_space Receive a Box
      .work_desc= I18n.t('content.page.how.step2', :link => home_about_us_path).html_safe

    / step 3
    .work_box
      .img_box
        = image_tag("common/how03.png" , :class => "img_how")
      .step.bold 3
      %p.tittle_content.title_top_space Grow, grow, grow!
      %p.work_desc= I18n.t('content.page.how.step3', :link => kits_path).html_safe

  / gift content
  #gift_box
    = render "shared/gift_box", :text => I18n.t('content.page.how.enjoy')
.what_people_say
  = render "shared/people_say"

