- @page_title = "#{I18n.t('titles.pages.name')} | #{I18n.t('titles.pages.home')}"

#spotlight.page_content_space
  .intro.pull-left
    .text.bold.font26.line26= I18n.t('content.page.home.intro_sum')
    .dotted-line
    .text.font18= I18n.t('content.page.home.intro_text')
    = link_to I18n.t('label.button.enroll'), '#', :class => 'mybtn btn-pink uppercase', :id => 'btn-enroll'
    = link_to I18n.t('label.button.gift'), '#', :class => 'mybtn btn-green uppercase', :id => 'btn-gift'

  #slides.pull-left
    .slides_container
      - (1..4).each do |idx|
        %div
          = image_tag "sample/slideshow#{idx}.jpg"
          .caption.text.font16
            %p= I18n.t("content.page.home.slide_#{idx}_text")
    %a.prev{:href => '#'}
      .btn-slide-prev
    %a.next{:href => '#'}
      .btn-slide-next
  .clearfix

.page_content_space
  .half-section.pull-left
    %a{:href => home_how_it_work_path }
      = image_tag 'common/icon-how-it-works.png'
    .text.green.font22.bold.capitalize
      = link_to I18n.t('content.page.home.how_sum'), home_how_it_work_path
    .text.font16= I18n.t('content.page.home.how_text')
  .half-section.pull-right
    %a{:href => curriculum_path }
      = image_tag 'common/icon-curriculum.png'
    .text.green.font22.bold.capitalize
      = link_to I18n.t('content.page.home.curriculum_sum'), curriculum_path
    .text.font16= I18n.t('content.page.home.curriculum_text')
.clearfix

.testimonial
  = render "shared/people_say"


- content_for :js do
  = javascript_include_tag 'libs/slides.jquery.js', 'home'
