#our_panel_expert.page_content_space
  .title_page= I18n.t('content.page.our_panel_of_experts.title')
  .content_box.clearfix
    .member_info.left
      .head_box.clearfix
        .img_box
          = image_tag('sample/OurExperts_Jane.jpg', :class => 'img_our_team')
        .name_box
          %p.text.bold.font23= I18n.t('content.page.our_panel_of_experts.name_1')
          %p.text.italic.font16
            %div.text.italic.font16= I18n.t('content.page.our_panel_of_experts.role_1_1')
            %div.text.italic.font16= I18n.t('content.page.our_panel_of_experts.role_1_2')
      .desc_text.text.font18
        %p= I18n.t('content.page.our_panel_of_experts.text_1_1')

    .member_info.left
      .head_box.clearfix
        .img_box
          = image_tag('sample/OurExperts_Leslie.jpg', :class => 'img_our_team')
        .name_box
          %p.text.bold.font23= I18n.t('content.page.our_panel_of_experts.name_2')
          %p.text.italic.font16
            %div.text.italic.font16= I18n.t('content.page.our_panel_of_experts.role_2_1')
            %div.text.italic.font16= I18n.t('content.page.our_panel_of_experts.role_2_2')
      .desc_text.text.font18
        %p= I18n.t('content.page.our_panel_of_experts.text_2_1')
        %p= I18n.t('content.page.our_panel_of_experts.text_2_2')

    .member_info.left
      .head_box.clearfix
        .img_box
          = image_tag('sample/OurExperts_Yaffa.jpg', :class => 'img_our_team')
        .name_box
          %p.text.bold.font23= I18n.t('content.page.our_panel_of_experts.name_3')
          %p.text.italic.font16
            %div.text.italic.font16= I18n.t('content.page.our_panel_of_experts.role_3_1')
            %div.text.italic.font16= I18n.t('content.page.our_panel_of_experts.role_3_2')
      .desc_text.text.font18
        %p= I18n.t('content.page.our_panel_of_experts.text_3_1')
        %p= I18n.t('content.page.our_panel_of_experts.text_3_2')

    .member_info.right
      .head_box.clearfix
        .img_box
          = image_tag('sample/OurExperts_Ami.jpg', :class => 'img_our_team')
        .name_box
          %p.text.bold.font23= I18n.t('content.page.our_panel_of_experts.name_4')
          %p.text.italic.font16= I18n.t('content.page.our_panel_of_experts.role_4_1')
      .desc_text.text.font18
        %p= I18n.t('content.page.our_panel_of_experts.text_4_1')
        %p= I18n.t('content.page.our_panel_of_experts.text_4_2')
        %p= I18n.t('content.page.our_panel_of_experts.text_4_3')

