#our_team_content.page_content_space
  .title_page= I18n.t('content.page.our_team.title')
  .content_box.clearfix
    .member_info
      .head_box.clearfix
        .img_box
          = image_tag('sample/susan.jpg', :class => 'img_our_team')
        .name_box
          %p.text.bold.font23= I18n.t('content.page.our_team.name1')
          %p.text.italic.font16= I18n.t('content.page.our_team.co1')
      .desc_text.text.font18
        %p= I18n.t('content.page.our_team.text1_1')
        %p= I18n.t('content.page.our_team.text1_2')
        %p= I18n.t('content.page.our_team.text1_3')


    .member_info.right
      .head_box.clearfix
        .img_box
          = image_tag('sample/vivian.jpg', :class => 'img_our_team')
        .name_box
          %p.text.bold.font23= I18n.t('content.page.our_team.name2')
          %p.text.italic.font16= I18n.t('content.page.our_team.co2')
      .desc_text.text.font18
        %p= I18n.t('content.page.our_team.text2_1')
        %p= I18n.t('content.page.our_team.text2_2')
        %p= I18n.t('content.page.our_team.text2_3')


