#privacy_content.page_content_space
  .title_page= I18n.t('content.page.privacy.title')
  .version.text.font18= I18n.t('content.page.privacy.date')
  .content_box.clearfix
    %p.title.text.bold.font23= I18n.t('content.page.privacy.our_policy.title')
    %p.text.text.font18= I18n.t('content.page.privacy.our_policy.text1', :link => root_path).html_safe
    %p.text.text.font18= I18n.t('content.page.privacy.our_policy.text2')

    %p.title.text.bold.font23= I18n.t('content.page.privacy.info_we_collect.title')
    %p.text.text.font18= I18n.t('content.page.privacy.info_we_collect.text')

    %p.title.text.bold.font23= I18n.t('content.page.privacy.personal_data.title')
    %p.text.text.font18= I18n.t('content.page.privacy.personal_data.text1')
    %p.text.text.font18= I18n.t('content.page.privacy.personal_data.text2')

    %p.title.text.bold.font23= I18n.t('content.page.privacy.non_identifiable.title')
    %p.text.text.font18= I18n.t('content.page.privacy.non_identifiable.text1')
    %p.text.text.font18= I18n.t('content.page.privacy.non_identifiable.text2')

    %p.title.text.bold.font23= I18n.t('content.page.privacy.our_use_of.title')
    %p.text.text.font18= I18n.t('content.page.privacy.our_use_of.text1')
    %p.text.text.font18= I18n.t('content.page.privacy.our_use_of.text2')
    %p.text.text.font18= I18n.t('content.page.privacy.our_use_of.text3')

    %p.title.text.bold.font23= I18n.t('content.page.privacy.our_disc_of.title')
    %p.text.text.font18= I18n.t('content.page.privacy.our_disc_of.text')

    %p.title.text.bold.font23= I18n.t('content.page.privacy.bus_tran.title')
    %p.text.text.font18= I18n.t('content.page.privacy.bus_tran.text')

    %p.title.text.bold.font23= I18n.t('content.page.privacy.rela_compa.title')
    %p.text.text.font18= I18n.t('content.page.privacy.rela_compa.text')

    %p.title.text.bold.font23= I18n.t('content.page.privacy.agents.title')
    %p.text.text.font18= I18n.t('content.page.privacy.agents.text')

    %p.title.text.bold.font23= I18n.t('content.page.privacy.legal_requi.title')
    %p.text.text.font18= I18n.t('content.page.privacy.legal_requi.text')

    %p.title.text.bold.font23= I18n.t('content.page.privacy.your_choices.title')
    %p.text.text.font18= I18n.t('content.page.privacy.your_choices.text')

    %p.title.text.bold.font23= I18n.t('content.page.privacy.exclusions.title')
    %p.text.text.font18= I18n.t('content.page.privacy.exclusions.text')

    %p.title.text.bold.font23= I18n.t('content.page.privacy.children.title')
    %p.text.text.font18= I18n.t('content.page.privacy.children.text')

    %p.title.text.bold.font23= I18n.t('content.page.privacy.links_other.title')
    %p.text.text.font18= I18n.t('content.page.privacy.links_other.text')

    %p.title.text.bold.font23= I18n.t('content.page.privacy.security.title')
    %p.text.text.font18= I18n.t('content.page.privacy.security.text')

    %p.title.text.bold.font23= I18n.t('content.page.privacy.other_term.title')
    %p.text.text.font18= I18n.t('content.page.privacy.other_term.text')

    %p.title.text.bold.font23= I18n.t('content.page.privacy.chang_to_lit.title')
    %p.text.text.font18= I18n.t('content.page.privacy.chang_to_lit.text')

    %p.title.text.bold.font23= I18n.t('content.page.privacy.access_info.title')
    %p.text.text.font18= I18n.t('content.page.privacy.access_info.text1')
    %p.text.text.font18= I18n.t('content.page.privacy.access_info.text2')
    %p.text.text.font18= I18n.t('content.page.privacy.access_info.text3', :mail => "contactus@littlespark.com").html_safe








