.register_box.pull-right
  .title_login= I18n.t('content.page.login.welcome')
  = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :validate => :user_validator) do |f|
    .form-inputs
      = f.input :email, :input_html => {:id => "user_mail_register"}, :wrapper_html => {:class => 'register_email_field'}
      = f.input :email, :input_html => {:id => "user_mail_register"}, :wrapper_html => {:class => 'register_email_field'}
      = f.input :email, :input_html => {:id => "user_mail_register"}, :wrapper_html => {:class => 'register_email_field'}
      .register_email_conform_field
        %label
          %abbr{:title => "required"} *
          = I18n.t('content.page.login.email_confirm')
        %input{:type => 'text' , :id => 'email_register_conform'}
      .email_noti
        %label Emailnotification
        %input{:type => 'checkbox'}
      .pass_change
        %label Passwork
        = link_to "Change password" , "#", :class => "mybtn btn-green btn_pass_change"

    = f.button :submit, I18n.t('content.page.login.join') , :class => "mybtn btn-pink uppercase btn_contact_info"
