.page_content_space
  = render 'steps_nav'
  = simple_form_for @gift, :method => 'post', :url => finish_gifts_path(:gift_id => params[:gift_id]), :html => { :class => 'gift-form payment-form', :id => 'frm-payment' } do |f|
    .tittle_content= I18n.t('content.page.enroll_5.title')
    .enroll5_box.pull-left
      = render 'shared/card_information', :parent => f
    .enroll5_box.pull-right
      = render 'shared/order_summary', :price => @gift.price, :tax => @gift.tax, :total => @gift.total_price, :plan_type => @gift.plan_type
      .action_box
        = f.submit 'PLACE YOUR ORDER', :class => 'mybtn btn-pink btn-place'
        - if @gift.plan_type != Order::TYPE['1_mon']
          %p.text.italic= I18n.t('text.plan_renew')
  #terms_popup_content
    = render 'shared/terms_conditions_popup'

= content_for :js do
  = javascript_tag do
    :erb
      var CARD_TYPE = <%= Payment::CARD_TYPE.to_json %>;
  = javascript_include_tag 'card.js', 'gifts.js'
