.login_box.pull-left
  .title_login.login_left_space= I18n.t('content.page.login.login', :login_text => login_text)
  = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    .form-inputs
      = f.input :email, :required => false, :autofocus => true
      %span#email_login_error.hidden Please input correct email.
      = f.input :password, :required => false
      %span#passwork_login_error.hidden Please fill out this field
      .foget_pass
        = link_to I18n.t('content.page.login.forgot_pass'), new_password_path(resource_name), :class => 'underline-link'
      .remember_box.clearfix
        = f.input :remember_me, :as => :boolean if devise_mapping.rememberable?
      = hidden_field_tag 'submit_from', @submit_from
      - if @submit_from==SessionsController::ENROLMENT_RECEIVE and @order.id
        = hidden_field_tag 'order_id', @order.id
    = f.button :submit, I18n.t('content.page.login.sign_in') , :class => "mybtn btn-pink btn_login uppercase"

.register_box.pull-right
  .title_login= I18n.t('content.page.login.welcome')
  = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    / = f.error_notification
    .form-inputs
      = f.input :email, :input_html => {:id => "user_mail_register"}
      %span#email_error.hidden Email is not blank.
      .conform.input.email.required
        %label
          %abbr{:title => "required"} *
          = I18n.t('content.page.login.email_confirm')
        %input{:type => 'text' , :id => 'email_register_conform'}
      %span#email_confirm_error.hidden Doesn't match confirmation
      = f.input :password, :input_html => {:id => "user_passwork_register"}
      %span#passwork_error.hidden Please fill out this field
      = f.input :password_confirmation, :input_html => {:id => "user_passwork_confirm_register"}, :label => I18n.t('content.page.login.pass_confirm')
      %span#passwork_confirm_error.hidden Passwords must be the same.
      = hidden_field_tag 'submit_from', @submit_from
      - if @submit_from==RegistrationsController::ENROLMENT_RECEIVE and @order.id
        = hidden_field_tag 'order_id', @order.id
    = f.button :submit, I18n.t('content.page.login.join') , :class => "mybtn btn-pink btn_register uppercase"

- if params[:controller] == "registrations"
  :css
    .login_box span.error{
      / color:blue !important;
      display:none !important;
    }

