%ul#enroll-steps.clearfix
  = customized_link_to I18n.t('content.page.enroll_1.step') , enroll_path(:step_1), :wrap_tag => ['li', :id => 'step_1', :class => 'pull-left capitalize'], :active_class => 'selected', :active_at => [step_1_enrolments_path, enroll_baby_path]
  = customized_link_to I18n.t('content.page.enroll_2.step'), enroll_path(:step_2), :wrap_tag => ['li', :id => 'step_2', :class => 'pull-left capitalize'], :active_class => 'selected', :active_at => [step_2_enrolments_path, enroll_plan_path]
  = customized_link_to I18n.t('content.page.enroll_3.step'), enroll_path(:step_3), :wrap_tag => ['li', :id => 'step_3', :class => 'pull-left capitalize'], :active_class => 'selected', :active_at => [step_3_enrolments_path, user_registration_path, new_user_session_path]
  = customized_link_to I18n.t('content.page.enroll_4.step'), enroll_path(:step_4), :wrap_tag => ['li', :id => 'step_4', :class => 'pull-left capitalize'], :active_class => 'selected', :active_at => [step_4_enrolments_path, update_order_shipping_path]
  = customized_link_to I18n.t('content.page.enroll_5.step'), enroll_path(:step_5), :wrap_tag => ['li', :id => 'step_5', :class => 'pull-left capitalize'], :active_class => 'selected', :active_at => [step_5_enrolments_path]
.dotted-line
