%ul#enroll-steps.clearfix
  = customized_link_to I18n.t('content.page.enroll_1.step') , enrolment_step_1_path, :wrap_tag => ['li', :id => 'step_1', :class => 'pull-left capitalize'], :active_class => 'selected', :active_at => [enrolment_step_1_path, create_baby_path]
  = customized_link_to I18n.t('content.page.enroll_2.step'), enrolment_step_2_path, :wrap_tag => ['li', :id => 'step_2', :class => 'pull-left capitalize'], :active_class => 'selected', :active_at => [enrolment_step_2_path, create_plan_path]
  = customized_link_to I18n.t('content.page.enroll_3.step'), enrolment_step_3_path, :wrap_tag => ['li', :id => 'step_3', :class => 'pull-left capitalize'], :active_class => 'selected'
  = customized_link_to I18n.t('content.page.enroll_4.step'), enrolment_step_4_path, :wrap_tag => ['li', :id => 'step_4', :class => 'pull-left capitalize'], :active_class => 'selected', :active_at => [enrolment_step_4_path, update_plan_path]
  = customized_link_to I18n.t('content.page.enroll_5.step'), enrolment_step_5_path, :wrap_tag => ['li', :id => 'step_5', :class => 'pull-left capitalize'], :active_class => 'selected'
.dotted-line
