.page_content_space
  = render '/enrolment/steps_nav'

  = simple_form_for @order, :as => :plan, :url => plan_enrolments_path(:order_id => params[:order_id], :baby_id => params[:baby_id]), :html => { :class => 'enroll-form', :id => 'plan-register' } do |f|
    .tittle_content= I18n.t('content.page.enroll_2.title')
    = f.input :baby_id, :as => :hidden, :input_html => { :value => params[:baby_id] }
    .plan-section
      = f.collection_radio_buttons :plan_type, plan_image_options(@order.plan_type), :first, :last
    %center
      = f.submit I18n.t('label.button.continue', :next_step => 'account'), :id => 'btn-submit', :class => 'mybtn next btn-pink uppercase btn_plan_form'
= render 'shared/submit_form', :btn_form => '.btn_plan_form'
= content_for :js do
  = javascript_include_tag 'enrolment.js'
