.page_content_space
  = render 'steps_nav'

  = simple_form_for @order, :as => :order, :method => 'post', :url => enrolment_finish_path(:order_id => @order.id), :html => { :class => 'enroll-form', :id => 'frm-payment' } do |f|
    .tittle_content= I18n.t('content.page.enroll_5.title')
    .enroll5_box.pull-left
      = render 'shared/card_information', :parent => f

    .enroll5_box.pull-right
      .title_box
        .left_box Order Summary
        .right_box= link_to 'edit' , '#' ,:class => 'underline-link'
      .order_info_box
        .info_box.pull-left
          .info_field
            %p.info_text.text.bold Monthly Subscription
            %p.number= number_to_currency @order.price
          .info_field
            %p.info_text.text.bold Shipping
            %p.number FREE
          .line_sum
          .info_field
            %p.info_text
              %span.text.bold Tax
              %span (CA residents only)
            %p.number= number_to_currency @order.get_tax
          .line_total
          .info_field
            %p.info_text.text.bold.pink ORDER TOTAL
            %p.text.number.bold.pink= number_to_currency @order.total_order
        .img_box.pull-right= image_tag('sample/gitf_dog.jpg')
      .signup_box.clearfix
        %input.pull-left{:type => 'checkbox' , :name => 'check_box_signup'}
        %label.pull-left Sign-up for updates from your friends at Little Spark!
        / # = f.input :check_box_signup, :as => :boolean, :label => 'Sign-up for updates from your friends at Little Spark!', :input_html => {:checked => false, :class => 'pull-left' }, :wrapper_html => { :id => 'check_box_signup' }
      .action_box
        = f.submit 'PLACE YOUR ORDER', :class => 'mybtn btn-pink btn-place'
        %p.text.italic Your credit card will be charged on a monthly basis.

= content_for :js do
  = javascript_include_tag 'libs/jquery.inputHintOverlay.js', 'enrolment.js'
