.page_content_space
  = render 'steps_nav'

  = simple_form_for @order, :as => :order, :method => 'post', :url => enrolment_finish_path(:order_id => @order.id), :html => { :class => 'enroll-form', :id => 'frm-payment' } do |f|
    .tittle_content= I18n.t('content.page.enroll_5.title')
    .enroll5_box.pull-left
      = render 'shared/card_information', :parent => f

    .enroll5_box.pull-right
      .title_box
        .left_box Order Summary
        .right_box.text.font16= link_to 'edit' , enroll_path(:step_2) ,:class => 'underline-link'
      .order_info_box
        .info_box.pull-left
          .info_field
            %p.info_text.text.bold Monthly Subscription
            %p.number= number_to_currency @order.price
          .info_field
            %p.info_text.text.bold Shipping
            %p.number FREE
          .line_sum
          .info_field
            %p.info_text
              %span.text.bold Tax
              %span (CA residents only)
            %p.number= number_to_currency @order.get_tax
          .line_total
          .info_field
            %p.info_text.text.bold.pink ORDER TOTAL
            %p.text.number.bold.pink= number_to_currency @order.total_order
        .img_box.pull-right= image_tag('sample/gitf_dog.jpg')
      .signup_box.clearfix
        %input.pull-left{:type => 'checkbox' , :name => 'check_box_signup', :id => 'cb_signup'}
        %label.pull-left{:for => 'cb_signup'} Sign-up for updates from your friends at Little Spark!

        %input.pull-left{:type => 'checkbox' , :name => 'terms_agreement', :id => 'cb_terms'}
        %label.pull-left{:for => 'cb_terms'}= "I agree with the <a href='#' id='terms_content' rel='popover'>Terms and Conditions</a>".html_safe

      .action_box
        = f.submit 'PLACE YOUR ORDER', :class => 'mybtn btn-pink btn-place'
        %p.text.italic Your credit card will be charged on a monthly basis.
  #terms_popup_content
    = render 'shared/terms_conditions_popup'

= content_for :js do
  = javascript_tag do
    :erb
      var CARD_TYPE = <%= Payment::CARD_TYPE.to_json %>;
  = javascript_include_tag 'card.js', 'enrolment.js'
