<div style = "margin-left:50px; width:800px; color:#000;">
  <% img_link = root_url.to_s + 'assets/common/logo_text.png'%>
  <% img_account = root_url.to_s + 'assets/common/btn_account.png'%>
  <% img_gift = root_url.to_s + 'assets/common/btn_gift.png'%>
  <div style = "float:left;">
    <%= link_to image_tag(img_link), root_url %>
  </div>
  <div style = 'float:right; margin-top:18px;' >
    <%= link_to image_tag(img_account),  my_account_url, :style => "float:left; margin-right:10px;" %>
    <%= link_to image_tag(img_gift), step_1_gifts_url, :style => "float:left;" %>
  </div>
  <div style = "clear:both; padding-top:10px;">
    <p style = "font-weight:bolder;" > Hello <%= @resource.email %>,</p>
    <p>Someone has requested a link to change your password, and you can do this through the link below.</p>
    <p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>
    <p>If you didn't request this, please ignore this email.</p>
    <p>Your password won't change until you access the link above and create a new one.</p>
    <p>Have Fun! <br/>The Little Spark Team.</p>
  </div>
</div>
