%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    = stylesheet_link_tag    "application", :media => "all"
    = yield :head
    %title
      = @page_title || I18n.t('titles.pages.name')

    - if Rails.env=='production'
      - ga_id = 'UA-39026620-2'
    - else
      - ga_id = 'UA-39043575-1'

    = javascript_tag do
      :erb
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', "<%= ga_id %>"]);
        _gaq.push(['_setDomainName', '<%= Rails.application.config.domain %>']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

  %body
    #loading
      = image_tag('common/loading.gif')
    #page-wrapper
      #header
        = render 'shared/head_tab'
      .line_header
      #container
        #flash-panel
          - flash.each do |key, val|
            - cl = (key == :error)? "error" : "success page_content_space alert-box #{key}"
            - if val.is_a?(Array) && val.any?
              .flash-content{:class => "#{cl}"}
                - val.each do |msg|
                  = content_tag :div, msg unless msg.blank?
            - else
              = content_tag :div, val, :class => "flash-content #{cl}" unless val.blank?
        = yield
      #footer
        = render 'shared/footer'
    = render 'shared/social_media_icon'
    = render 'layouts/js_common'
  = javascript_include_tag "application"
  = yield(:js)
  = javascript_include_tag 'init.js'
