%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "head/application"
    %title
      = (yield(:title) || "Little Spark")
  %body
    #page-wrapper
      .container.main-tab
        = render 'shared/head_tab'
        .row
          - flash.each do |key, val|
            = content_tag :div, val, :class => "alert alert-info #{key}" unless val.blank?
          = yield
        .push
      .footer-box.container
        = render 'shared/footer'
    = javascript_tag "Cufon.now()"
  = javascript_include_tag "application"
  = yield(:js)