%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    = stylesheet_link_tag    "application", :media => "all"
    / = javascript_include_tag "head/application"
    = yield :head

    %title
      = @page_title || I18n.t('titles.pages.name')
  %body
    #page-wrapper
      #header
        = render 'shared/head_tab'
      #container
        #flash-panel
          - flash.each do |key, val|
            - if val.is_a?(Array) && val.any?
              .page_content_space.alert{:class => "alert-#{key}"}
                - val.each do |msg|
                  = content_tag :div, msg unless msg.blank?
            - else
              = content_tag :div, val, :class => "page_content_space alert alert-#{key}" unless val.blank?
        = yield
      #footer
        = render 'shared/footer'
    = render 'shared/social_media_icon'

    = javascript_tag "Cufon.now()"
  = javascript_include_tag "application"
  = yield(:js)
