!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %div{:style => "margin-left:50px; width:800px; color:#000;"}
      .mail_logo{:style => "float:left;"}= image_tag(@logo_link)
      .email_content_box{:style => "clear:both; padding-top:10px;"}
        = yield
    .email_footer{:style => "clear:both; padding-top:20px;"}
      %p{:style => "text-align: center;"}
        %span Need help? Email us at
        = link_to "contactus@littlespark.com" , "mailto:contactus@littlespark.com"
        %br/
        %span Want to unsubscribe? Reply to this email and we will take you off the list.
        %br/
        = link_to "terms of service", root_url(:terms_of_service => 'show')
        / %span{:style => "border-bottom: 1px solid black;"} terms of service
        ="/"
        = link_to "terms of service", privacy_homes_url
        / %span{:style => "border-bottom: solid 1px black;"} privacy policy
        %br/
        %span 259 King Street, Redwood City, CA 94062

